
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4d5051;
	background-color: #d6d6d6;
	background-image: url(top-rept.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	margin: 0px;
	font:0.8em/1.5 "arial", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, input, textarea {
	padding: 0px;
	margin: 0px;
}

h1 {
	font-size:300%;
	font-weight:normal;
	color:#004B96;
}

h2 {
	font-size:220%;
	font-weight:bold;
	color:#004B96;
}

h3 {
	font-size:160%;
	font-weight:normal;
}

h4 {
	font-size:135%;
	font-weight:bold;
	color:#507010; /*dk green*/
}

h5, h6 {
	font-size:115%;
	font-weight:bold;
	margin-top:15px;
	margin-bottom:12px;
}

a {
	color:#608020; /*green*/
	text-decoration:none;
}

a:hover, a:active, a:focus {
	color:#0065C8; /* blue */
}

h2 b {
	color:#608020; /*green*/
}

img.f-flag {
	margin: 15px 0px 15px 15px;
	float:left !important;
	width:10%;
}

img.f-left {
	margin: 5px 15px 0px 0px;
}

img.f-right {
	margin: 5px 0px 0px 15px;
}

.articles {
	margin:0;
	list-style:none;
}

.articles h2 {
	margin:0;
}

.articles h2 a {
	text-decoration:none;
}

.articles .article-info {
	padding-bottom:0px;
	margin-bottom:10px;
}

.articles .article-info p {
	margin:0;
}

.f-left {
	float:left !important;
}

.f-right {
	float:right !important;
}

.t-left {
	text-align:left !important;
}

.t-center {
	text-align:center !important;
}

.t-right {
	text-align:right !important;
}

.t-justify {
	text-align:justify !important;
}





.page-in {
	background-image: url(bottom-rept.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	width: 100%;
	float: left;
}

.page {
	width: 1000px;
	margin: 0px auto;
}

.main, .header {
	width: 1000px;
	float: left;
}

.header-top {
	background-image: url(header-top.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 1000px;
	height: 80px;
	float: left;
}

.header-top h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	font-weight: normal;
	line-height: 55px;
	color: #FFFFFF;
	margin-left: 115px;
	margin-top:10px;
}

.header-top h1 span {
	color: #000000;
}

.header-top h1 a {
	color: #FFFFFF;
	text-decoration:none;
}

.header-top h1 span a {
	color: #000000;
	text-decoration:none;
}

.header-bottom {
	background-image: url(header.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 1000px;
	height: 257px;
	float: left;
}

.header-bottom h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #000000;
	margin-top: 92px;
	margin-left: 27px;
}

.header-bottom h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: normal;
	color: #000000;
	margin-top: 0px;
	margin-left: 29px;
}

.content {
	background-color: #FFFFFF;
	background-image: url(body-top.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 952px;
	float: left;
	padding: 30px 24px 0px 24px;
}

.content-left {
	background-repeat: repeat-y;
	background-position: right top;
	width: 952px;/*725px;*/
	float: left;
	padding-right: 21px;
}

.row1 {
	width: 952px;/*710px;*/
	float: left;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #000000;
	margin-bottom: 30px;
}

.title span {
	color: #82ab01;
}

ul.list1 {
	margin-top: 5px;
	margin-left: 25px;
	list-style-image: url(bullet.jpg);
}

ul.list1 li {
	padding-top: 5px;
	padding-bottom: 5px;
}


/* about us */
.row2 {
	width: 920px;/*680px;*/
	float: left;
	padding: 15px 15px 15px 15px;
	background: #f5f7ec; /*pale green*/
	border-radius: 15px;
}

.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #171817;
	margin-bottom: 10px;
}

.subtitle span {
	color: #607e00;
}

.green {
	color: #003300;
}



/* nav bar at bottom of page */
.footer {
	line-height: 69px;
	background-image: url(footer.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 952px;
	height: 69px;
	float: left;
	padding: 23px 24px 0px 24px;
}

.footer p {
	font-size: 11px;
	color: #FFFFFF;
	float: left;
}

.footer a {
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: none;
}


table {
  border-spacing: 0px;
}



/* pseudo-buttons for navigation */
.more {
	text-align:right;
	margin: 0px 2px 0px 2px !important;
	float:right;
}

.more p {
	margin: 10px 2px 6px 2px !important;
}

.more a {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding: 6px 12px;
	text-decoration:none;
	font-weight:bold;
	border:1px solid #DDD;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	background-color:#EEE;
	color:#406000; /*dk green*/
}

.more a:hover {
	background-color:#FFF;
	color:#004B96;
}



/* containers for images and text and tables */
.gtop {
	width:100%;
	margin: 20px 0 16px 0;
	page-break-inside: avoid;
}

.gto {
	width:100%;
	margin: 20px 0 16px 0;
}

.geni {
	width:95%;
	margin: 16px 0 16px 30px;
	page-break-inside: avoid;
}

.gen {
	width:95%;
	margin: 16px 0 16px 5%;
}

img {
	page-break-inside: avoid;
}

.indent td {
	padding-left: 12px;
	padding-right: 0px;
}

.inri {
	page-break-inside: avoid;
}

.inri td {
	padding-left: 2px;
	padding-right: 10px;
}

td {
	vertical-align: top;
	text-align: left;
}


/* container boxes with outlines, placed center, left or right */
.cbox, .lbox, .rbox, .row {
	page-break-inside: avoid;
	background-color: #f8f8f8;
	border: #d0d0d0 solid 1px;
	padding: 4px 4px 0px 4px;
	border-radius: 5px;
}

.lbox p {
	padding: 0px 3px 6px 3px;
}

.rbox p {
	padding: 0px 3px 6px 3px;
}
.cbox p {
	padding: 0px 3px 6px 3px;
}

.cbox {
	margin: 20px auto 30px auto;
	overflow: hidden;
	text-align: center;
}
.cbox img {
	width: 100%;
}

.lbox {
	float: left;
	text-align: left;
}
.lbox img {
	width: 100%;
}

.rbox {
	float: right;
	text-align: left;
}

.rbox img {
	width:100%;
}

/* image on left side of container, for text on right */
.limg {
	float: left;
	text-align: left;
	vertical-align: top;
	margin-right: 12px;
}

/* image on right side of container, for text on left */
.rimg {
	float: right;
	text-align: left;
	vertical-align: top;
	margin-left: 12px;
}

/* column containers for rows (width 33%, 50%, or 60%) */
.col33 {
	float: left;
	width: calc(33.33% - 8px);
	padding-left: 4px;
	padding-right: 3px;
	text-align: center;
}

.col50 {
	float: left;
	width: calc(50% - 5px);
	padding-left: 3px;
	padding-right: 0px;
	text-align: center;
}

.col60 {
	float: right;
	width: 60%;
	padding-right: 33px;
	text-align: left;
}

/* row of images */
.row {
	padding: 4px 0px 4px 1px;
}

/* clear floats after row */
.row::after {
	content: "";
	clear: both;
	display: table;
}



@media screen and (max-width: 992px) {
	.navbar a, .drop .drop-btn {
		font-size: 30px;
	}
}


@media screen and (max-width: 600px) {
	.navbar a, .drop .drop-btn {
		font-size: 40px;
	}
}


/* navbar container */
.navbar {
	overflow: hidden;
	background-color: #e6e6e6;
	border:#BBBFB4 solid 1px;
	border-radius: 6px;
	padding:0px;
}

/* last item without vertical bar */
.navbar :last-child {
	border-right:none;
}

/* links inside the navbar */
.navbar a {
	float: left;
	color:#406000;
	text-align: center;
	text-decoration: none;
	border-right:#91969a dotted 2px;
}

/* drop container */
.drop {
	float: left;
	overflow: hidden;
	border-right:#91969a dotted 2px;
}

/* font size and padding for all elements but see drop button */
.navbar a, .drop .drop-btn {
	font-size: 16px;
	padding: 2px 10px;
}

/* drop button */
.drop .drop-btn {
	padding-top: 4px;
	padding-bottom: 4px;
	border: none;
	outline: none;
	color:#406000;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin:0px; /* Important for vertical align on mobile phones */
}

/* background color for navbar links on hover */
.navbar a:hover, .drop:hover .drop-btn {
	background-color: #608020;
	color: white;
}

/* drop content (hidden by default) */
.drop-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* links inside the drop */
.drop-content a {
	float: none;
	display: block;
	text-align: left;
	border: none;
}

/* drop down the menu on hover */
.drop:hover .drop-content {
	display: block;
}
