
.tree {
	display: flex;
	justify-content: flex-start;
	background-color: #f8f8f8;
	padding: 4px 4px 0px 4px;
	border: #d0d0d0 solid 1px;
	border-radius: 5px;
}

.tree ul {
	padding-left: 16px; 
	position: relative;
	display: flex;
	flex-direction: column;
}

.tree ul:first-child{
	padding-left: 0px;
	width: 180px;
}

.tree li {
	list-style-type: none;
	line-height: 170%;
	position: relative;
	padding: 2px 0px 2px 16px;
	display: flex;
	transition: all 0.5s;
}

.tree li a{
	border: 2px solid #ccc;
	padding: 3px 10px 3px 3px;
	text-decoration: none;
	color: #444;
	align-self: center;
	border-radius: 6px;
	/*flex: 1 0 180px;*/
	background: #f5f7ec; /*pale green*/
	width: 260px;
}

.tree li a b {
    font-size: 10px;
	}

.tree li img {
	width:36px;
	height:36px;
	margin-right:8px;
	vertical-align:top;
	float:left;
	border: #c0c0c0 solid 2px;
	border-radius: 5px;
}

.fouracross li img{
	width: 52px;
	height: 52px;
}

.fouracross li a{
	width: 180px;
	text-align:center;
}

.fiveacross li a{
	width: 135px;
	text-align:center;
	padding: 2px;
}


/* draw connectors using ::before and ::after to */

.tree li::before, .tree li::after{
	content: '';
	position: absolute; 
	left: 0; 
	bottom: 50%;
	border-left: 2px solid #ccc;
	width: 16px; 
	height: 50%;
}

.tree li::after{
	bottom: auto; 
	top: 50%;
	border-top: 2px solid #ccc;
}

/* remove left-right connectors from elements without any siblings */
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/* remove space from the top of single children */
.tree li:only-child{ padding-left: 0;}

/* remove left connector from first child and right connector from last child */
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/* add back the vertical connector to the last nodes */
.tree li:last-child::before{
	border-bottom: 2px solid #ccc;
	border-radius: 0 0 5px 0;
}
.tree li:first-child::after{
	border-radius: 0 0 0 5px;
}

/* add downward connectors from parents */
.tree ul ul::before{
	content: '';
	position: absolute; 
	left: 0; 
	top: 50%;
	border-top: 2px solid #ccc;
	width: 16px; 
	height: 0;
}

/* hover effect, for element */
.tree li a:hover {
	background: #c8e088; /*light green #e0f0b0*/
	color: #000; 
	border: 2px solid #94a0b4; /*#608020;*/
}

/* hover effect, for border */
.tree li a:hover+ul li a {
	background: #e8f8d8; /*pale green #f5f7ec*/
	color: #000; 
	border: 2px solid #94a0b4; /*#608020;*/
}

/* hover effect, for connector */
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color: #94a0b4; /*#608020;*/
}
